# Google Sheets API URL (sollte geheim gehalten werden)
GOOGLE_SHEETS_API_URL=https://script.google.com/macros/s/AKfycbzsKFEeKUyERYqEWlc1Spz9ufZfzDY4wBEXVErsG54qSdG4n5Qq6YIEKFPvYonjZfDgCw/exec

# Server Port
PORT=3000 